{{!< default}}

<ul class="flexContainer">
{{#each service}}
  <li class="flexItem">
    <div>
      <h3 class="name">{{name}}</h3>
      <span class="status">{{srvstatus}}</span>
    </div>
  </li>
{{/each}}
</ul>

